{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('index') }}
{% endblock %}

{% block body %}
    <div class="start-screen">
        <div class="start-screen__inner">
            <img
                    class="start-screen__img"
                    src="{% path page.picture, 'reference' %}"
                    alt="{{ page.title }}">
            <h1 class="start-screen__title">
                <span class="start-screen__title-main">{{ page.title }}</span>
                <span class="start-screen__title-secondary">{{ page.subTitle }}</span>
            </h1>
            <div class="start-screen__text  start-screen__text--hidden-md">
                {% if page.description %}
                    {{ page.description|raw }}
                {% endif %}
            </div>
        </div>
    </div>
    <div class="start-screen__text start-screen__text--hidden-lg">
        {% if page.description %}
            {{ page.description|raw }}
        {% endif %}
    </div>

    {% if page.zones|length > 0 %}
        <section class="fan-zones">
            <div class="fan-zones__inner">
                <div class="tabs tabs--have-columns">
                    <ul class="tabs__links tabs__links--large">
                        {% for zone in page.zones %}
                            <li class="tabs__link-wrap {{ loop.first ? 'tabs__link-wrap--active' : '' }}">
                                <a href="#tab-zone-{{ loop.index }}" class="tabs__link "
                                   data-toggle="tab">{{ zone.city }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                    <div class="tabs__content-wrapper">
                        {% for zone in page.zones %}
                            <div id="tab-zone-{{ loop.index }}" class="tabs__content-item {{ loop.first ? 'tabs__content-item--active' : '' }} default-text">
                                <div class="tabs__column-left">
                                    {{ zone.description|raw }}

                                    {% if zone.howToRoute|length > 0 %}
                                        <div class="route">
                                            <h2 class="route__title">{{ 'text.place.how_to_get'|trans({}, 'site') }}</h2>
                                            <ul class="route__tabs-header">
                                                {% for route in zone.howToRoute %}
                                                    <li class="route__link-wrap {{ loop.first ? 'route__link-wrap--active' : '' }}">
                                                        <a href="#tab-route-{{ loop.index }}" class="route__tabs-link"
                                                           data-toggle="tab">
                                                            {{ route.title }}
                                                        </a>
                                                    </li>
                                                {% endfor %}
                                            </ul>
                                            <div class="route__tabs-content">
                                                {% for route in zone.howToRoute %}
                                                    <div id="tab-route-{{ loop.index }}"
                                                         class="route__content-item {{ loop.first ? 'route__content-item--active' : '' }} default-text">
                                                        {{ route.description|raw }}
                                                    </div>
                                                {% endfor %}
                                            </div>
                                        </div>
                                    {% endif %}
                                </div>

                                {% if zone.lineup|length > 0 %}
                                    <div class="tabs__column-right program">
                                        <h2 class="program__title">
                                            {{ getSiteSettingByKey('event_start_date')|localizeddate('short', 'medium', app.request.locale, null, 'd MMMM') }}
                                        </h2>
                                        <div class="program__items-wrap">
                                            {% for item in zone.lineup %}
                                                <div class="program__item {{ item.picture is not null ? 'program__item--has-image' : '' }}">
                                                    <div class="program__item-column">
                                                        <div class="program__time">{{ item.time|date('H:i') }}</div>
                                                        {% if item.picture is not null %}
                                                            <div class="program__img-wrap">
                                                                <img class="program__img"
                                                                     src="{% path item.picture, 'reference' %}"
                                                                     alt="{{ item.title }}">
                                                            </div>
                                                        {% endif %}
                                                    </div>
                                                    <div class="program__description">
                                                        <div class="program__item-title">{{ item.title }}</div>
                                                        <div class="program__item-text">
                                                            {{ item.description|raw }}
                                                        </div>
                                                    </div>
                                                </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                {% endif %}
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>

            <div class="buy-tickets">
                <a href="https://vr.mts.ru/rocknadvolgoi" class="buy-tickets__link" data-rellax-speed="1">
                    <div class="buy-tickets__text">{{ 'item.watch.online'|trans({}, 'site') }}</div>
                    <svg class="buy-tickets__icon">
                        <use xlink:href="#arrow-right"></use>
                    </svg>
                </a>
            </div>
        </section>
    {% endif %}
{% endblock %}

{% block javascript %}
{{ parent() }}
{{ encore_entry_script_tags('index') }}
{% endblock %}