{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('index') }}
{% endblock %}

{% block body %}
    <div class="start-screen">
        <img class="start-screen__img" src="{% path page.picture, 'reference' %}"
             alt="{{ page.title }}">
        <h1 class="start-screen__title">
            <span class="start-screen__title-main">{{ page.title }}</span>
            <span class="start-screen__title-secondary">{{ page.subTitle }}</span>
        </h1>
    </div>
    {% if page.history|length > 0 %}
        <section class="history">
            <div class="history__inner">
                {% for item in page.history %}
                    <div class="history__item">
                        <div class="history__column-left">
                            <img class="history__img" src="{% path item.picture, 'reference' %}"
                                 alt="{{ page.title }} {{ item.year }}">
                            <div class="history__info">
                                <div class="history__year">{{ item.year }}</div>
                                {% if item.lineup|length > 0 %}
                                    <ul class="history__lineup">
                                        {% for artist in item.lineup %}
                                            <li class="history__lineup-item">{{ artist }}</li>
                                        {% endfor %}
                                    </ul>
                                {% endif %}
                            </div>
                        </div>
                        <div class="history__column-right">
                            <h2 class="history__title">
                                <span class="history__title-number">{{ item.viewers|number_format(0, '', ' ') }}</span>
                                <span class="history__title-text">{{ item.viewersTitle }}</span>
                            </h2>
                            {% if item.description %}
                                <div class="history__description">
                                    {{ item.description|raw }}
                                </div>
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
            </div>

            <div class="buy-tickets buy-tickets--mobile-only">
                <a href="https://vr.mts.ru/rocknadvolgoi" class="buy-tickets__link" data-rellax-speed="1">
                    <div class="buy-tickets__text">{{ 'item.watch.online'|trans({}, 'site') }}</div>
                    <svg class="buy-tickets__icon">
                        <use xlink:href="#arrow-right"></use>
                    </svg>
                </a>
            </div>
        </section>
    {% endif %}
    <section class="history-video">
        <iframe
          class="history-video__iframe"
          src="https://www.youtube.com/embed/XWg2FUdNsSg"
          frameborder="0"
          allow="accelerometer; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen>
        </iframe>
    </section>
{% endblock %}

{% block javascript %}
    {{ parent() }}
    {{ encore_entry_script_tags('index') }}
{% endblock %}