{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('index') }}
{% endblock %}

{% block body %}
    <div class="info-page">
        <button class="info-page__back-button" type="button">
            {{ 'text.info.return'|trans({}, 'site') }}
            <svg class="info-page__close-icon">
                <use xlink:href="#icon-close"></use>
            </svg>
        </button>
        <div class="info-page__inner">
            <h1 class="info-page__title">
                {{ page.title }}
            </h1>
            {% if page.infoLinks|length > 0 %}
                <ul class="info-page__list">
                    {% for item in page.infoLinks %}
                        <li class="info-page__list-item">
                            <a href="{{ item.link }}" class="info-page__link">
                                {{ item.title }}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>

        <div class="buy-tickets buy-tickets--mobile-only">
            <a href="#tickets-popup" class="buy-tickets__link tickets-popup-trigger" data-rellax-speed="1">
                <div class="buy-tickets__text">{{ 'btn.tickets.buy'|trans({}, 'site') }}</div>
                <svg class="buy-tickets__icon">
                    <use xlink:href="#arrow-right"></use>
                </svg>
            </a>
        </div>
    </div>
{% endblock %}

{% block javascript %}
{{ parent() }}
{{ encore_entry_script_tags('index') }}
{% endblock %}