{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('index') }}
{% endblock %}

{% block body %}
    <div class="start-screen">
        <div class="start-screen__inner">
            <img
                    class="start-screen__img"
                    src="{% path page.picture, 'reference' %}"
                    alt="{{ page.title }}">
            <h1 class="start-screen__title">
                <span class="start-screen__title-main">{{ page.title }}</span>
                <span class="start-screen__title-secondary">{{ page.subTitle }}</span>
            </h1>
        </div>
    </div>
    <section class="place-info">
        <div class="place-info__inner">
            <div class="place-info__column place-info__column-left">
                {% if page.description %}
                    <div class="place-info__description">
                        {{ page.description|raw }}
                    </div>
                {% endif %}

                {% if page.mapLink %}
                    <a href="{{ page.mapLink }}"
                       class="place-info__card-link">{{ 'text.place.map_title'|trans({}, 'site') }}</a>
                {% endif %}
            </div>

            {% if page.howToRoute|length > 0 %}
                <div class="place-info__column place-info__column-right route">
                    <h2 class="route__title">{{ 'text.place.how_to_get'|trans({}, 'site') }}</h2>

                    <ul class="route__tabs-header">
                        {% for route in page.howToRoute %}
                            <li class="route__link-wrap {{ loop.first ? 'route__link-wrap--active' : '' }}">
                                <a href="#tab-route-{{ loop.index }}" class="route__tabs-link" data-toggle="tab">
                                    {{ route.title }}
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                    <div class="route__tabs-content">
                        {% for route in page.howToRoute %}
                            <div id="tab-route-{{ loop.index }}" class="route__content-item default-text {{ loop.first ? 'route__content-item--active' : '' }}">
                                {{ route.description|raw }}
                            </div>
                        {% endfor %}
                    </div>
                </div>
            {% endif %}
        </div>

        <div class="buy-tickets">
            <a href="#tickets-popup" class="buy-tickets__link">
                <div class="buy-tickets__text">{{ 'btn.tickets.buy'|trans({}, 'site') }}</div>
                <svg class="buy-tickets__icon">
                    <use xlink:href="#arrow-right"></use>
                </svg>
            </a>
        </div>
    </section>

    {% if page.coordinates %}
        {% set coords = page.coordinates|split(';') %}
        <section id="place-map" class="place-map" data-lat="{{ coords.0 }}" data-lng="{{ coords[1] }}"></section>
    {% endif %}

    {% include 'popups/tickets-popup.html.twig' %}
{% endblock %}

{% block javascript %}
{{ parent() }}
{{ encore_entry_script_tags('index') }}
{% endblock %}