{% extends 'base.html.twig' %}

{% block stylesheets %}
  {{ parent() }}
  {{ encore_entry_link_tags('index') }}
{% endblock %}

{% block body %}
  <div class="default-page">
    <div class="default-page__inner">
      <div class="default-page__content">
        <div class="default-page__subtitle">{{ page.subTitle }}</div>
        <h1 class="default-page__title">{{ page.title }}</h1>
        {% if page.description %}
          <div class="default-text">
            {{ page.description|raw }}
          </div>
        {% endif %}
      </div>
    </div>

    <div class="buy-tickets buy-tickets--mobile-only">
      <a href="#tickets-popup" class="buy-tickets__link tickets-popup-trigger" data-rellax-speed="1">
        <div class="buy-tickets__text">{{ 'btn.tickets.buy'|trans({}, 'site') }}</div>
        <svg class="buy-tickets__icon">
          <use xlink:href="#arrow-right"></use>
        </svg>
      </a>
    </div>
  </div>
{% endblock %}

{% block javascript %}
  {{ parent() }}
  {{ encore_entry_script_tags('index') }}
{% endblock %}