{% extends 'base.html.twig' %}

{% block stylesheets %}
  {{ parent() }}
  {{ encore_entry_link_tags('index') }}
{% endblock %}

{% block body %}
  <div class="promo">

    <div class="promo__inner">

      <div class="promo__slider background-slider">

        <div class="background-slider__nav">

          <button type="button" class="background-slider__nav-btn background-slider__prev-btn">

            <svg class="background-slider__icon">
              <use xlink:href="#slider-arrow-prev"></use>
            </svg>
          </button>

          {# Set in js #}
          <div class="background-slider__name"></div>

          <button type="button" class="background-slider__nav-btn background-slider__next-btn">

            <svg class="background-slider__icon">
              <use xlink:href="#slider-arrow-next"></use>
            </svg>
          </button>
        </div>

        <div class="background-slider__track">

          <div data-artist-name="Billie Eilish" class="background-slider__slide">

            <div class="background-slider__container">

              <img
                src="{{ asset('build/assets/images/main_slider.jpg') }}"
                alt="Billie Eilish"
                class="background-slider__img">
            </div>
          </div>

          <div data-artist-name="EA EA" class="background-slider__slide">

            <div class="background-slider__container">

              <img
                src="{{ asset('build/assets/images/main_slider.jpg') }}"
                alt="Billie Eilish"
                class="background-slider__img">
            </div>
          </div>
        </div>
      </div>

      <div class="promo__start-timer start-timer">
        <div class="start-timer__text">До начала осталось</div>
        <div class="start-timer__date">255</div>
        <div class="start-timer__postfix">дней</div>
      </div>
    </div>
  </div>
{% endblock %}

{% block javascript %}
  {{ parent() }}
  {{ encore_entry_script_tags('index') }}
{% endblock %}
