{% extends 'base.html.twig' %}

{% block stylesheets %}
  {{ parent() }}
  {{ encore_entry_link_tags('index') }}
{% endblock %}

{% block body %}
  <div class="promo">
    <div class="promo__inner">

      <div class="promo__slider background-slider">
        <div class="background-slider__nav">
          <button type="button" class="background-slider__nav-btn background-slider__prev-btn">
            <svg class="background-slider__icon">
              <use xlink:href="#arrow-left"></use>
            </svg>
          </button>
          <div class="background-slider__name">{# Set in js #}</div>
          <button type="button" class="background-slider__nav-btn background-slider__next-btn">
            <svg class="background-slider__icon">
              <use xlink:href="#arrow-right"></use>
            </svg>
          </button>
        </div>

        <div class="background-slider__track">
          <div data-artist-name="Billie Eilish" class="background-slider__slide">
            <div class="background-slider__container">
              <img
                src="{{ asset('build/assets/images/main_slider.jpg') }}"
                alt="Billie Eilish"
                class="background-slider__img">
            </div>
          </div>

          <div data-artist-name="EA EA" class="background-slider__slide">
            <div class="background-slider__container">
              <img
                src="{{ asset('build/assets/images/short_history.jpg') }}"
                alt="Billie Eilish"
                class="background-slider__img">
            </div>
          </div>
        </div>
      </div>

      <div class="promo__socials socials">
        <a href="#" class="socials__link" title="Vkontakte">
          <svg class="socials__icon" width="33" height="21">
            <use xlink:href="#icon-vk"></use>
          </svg>
        </a>
        <a href="#" class="socials__link" title="Facebook">
          <svg class="socials__icon" width="15" height="32">
            <use xlink:href="#icon-fb"></use>
          </svg>
        </a>
        <a href="#" class="socials__link" title="Youtube">
          <svg class="socials__icon" width="33" height="27">
            <use xlink:href="#icon-youtube"></use>
          </svg>
        </a>
      </div>

      <div class="promo__start-timer start-timer">
        <div class="start-timer__text">До начала осталось</div>
        <div class="start-timer__date">255</div>
        <div class="start-timer__postfix">дней</div>
      </div>
    </div>
  </div>

  <section class="lineup">
    <div class="lineup__inner">
      <div class="lineup__header">
        <h2 class="lineup__title">
          <div class="lineup__title-text">Лайнап</div>
          <div class="lineup__year">
            20<span class="lineup__year-decade">20</span>
          </div>
        </h2>

        <div class="lineup__date">20 июня</div>
      </div>

      <div class="lineup__column-left">
        <h2 class="lineup__title lineup__title--hidden-md">
          <div class="lineup__title-text">Лайнап</div>
          <div class="lineup__year">20
            <div class="lineup__year-decade">20</div>
          </div>
        </h2>

        <div class="lineup__text-block lineup__text-block--has-link">
          <a href="#" class="lineup__subtitle">
            <div class="lineup__subtitle-wrap">
              <span class="lineup__subtitle-number">2</span>
              <svg class="lineup__subtitle-icon">
                <use xlink:href="#arrow-right-long"></use>
              </svg>
            </div>
            <div class="lineup__subtitle-text">Фан-зоны</div>
          </a>
          <div class="lineup__description">
            Любой желающий может прийти и насладиться праздником абсолютно бесплатно. Рядом с чашей стадиона будут
            открыты 2 фан-зоны, где на девятиметровых экранах будет вестись прямая онлайн-трансляция фестиваля.
          </div>
        </div>

        <div class="lineup__text-block lineup__text-block--has-link">
          <a href="#" class="lineup__subtitle">
            <span class="lineup__subtitle-number">8</span>
            <div class="lineup__subtitle-text">часов</div>
          </a>
          <div class="lineup__description">
            Рока будет много. Дадим Самаре прикурить, чтобы все бабушки из ближайших домов еще три месяца после
            фестиваля напевали наши замечательные песни любимых нами же артистов.
          </div>
        </div>
      </div>
      <div class="lineup__column-right">
        <div class="lineup__date lineup__date--hidden-md">20 июня</div>
        <div class="artist-card">
          <div class="artist-card__wrap">
            <div class="artist-card__time">18:00</div>
            <div class="artist-card__img-wrap">
              <img src="{{ asset('build/assets/images/artist_01.png') }}" class="artist-card__img" alt="Artist name">
            </div>
          </div>
          <div class="artist-card__info">
            <div class="artist-card__title">Церемония открытия</div>
            <div class="artist-card__text">
              Ведущий обновленного фестиваля, Иван Ургант торжественно объявит о новой эре великого Самарского чуда.
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="buy-tickets">
      <a href="#" class="buy-tickets__link">
        <div class="buy-tickets__text">Купить билеты</div>
        <svg class="buy-tickets__icon">
          <use xlink:href="#arrow-right"></use>
        </svg>
      </a>
    </div>
  </section>

  <section class="place">
    <div class="place__inner">
      <div class="place__content">
        <div class="place__description">
          В 2020 году фестиваль будет проходить на лучшей и самой современной площадке
          Самары — новейшем стадионе
        </div>
        <div class="place__title">
          Самара арена
        </div>
        <a href="#" class="place__link">
          <div class="place__number">
            <span>+2</span>
            <svg class="place__icon place__icon--md">
              <use xlink:href="#arrow-right"></use>
            </svg>

            <svg class="place__icon place__icon--sm">
              <use xlink:href="#arrow-right-short"></use>
            </svg>
          </div>
          <div class="place__link-text">
            Бесплатные фан&#8209;зоны
          </div>
        </a>
      </div>
    </div>
  </section>

  <div class="about-place">
    <div class="about-place__inner">
      <div class="about-place__description">
        В 2020 году фестиваль будет проходить на лучшей и самой современной площадке
        Самары — новейшем стадионе
      </div>
    </div>
  </div>
  <section class="news">
    <div class="news__inner">
      <div class="news__column-left">
        <h2 class="news__title">
          Молния
          <svg class="news__title-icon">
            <use xlink:href="#icon-lightning"></use>
          </svg>
        </h2>
        <div class="news__socials news__socials--hidden-md socials socials--horizontal socials--has-text">
          <div class="socials__text">
            Хочется больше
            и&nbsp;чаще? &mdash;
          </div>
          <div
            class="socials__container">
            <a href="#" class="socials__link" title="Vkontakte">
              <svg class="socials__icon" width="33" height="21">
                <use xlink:href="#icon-vk"></use>
              </svg>
            </a>
            <a href="#" class="socials__link" title="Facebook">
              <svg class="socials__icon" width="15" height="27">
                <use xlink:href="#icon-fb"></use>
              </svg>
            </a>
            <a href="#" class="socials__link" title="Youtube">
              <svg class="socials__icon" width="33" height="27">
                <use xlink:href="#icon-youtube"></use>
              </svg>
            </a>
          </div>
        </div>
      </div>
      <div class="news__column-right">
        <div class="news__items">
          <div class="news__item">
            <div class="news__item-title">Рок над Волгой признан самым ожидаемым фестивалем этого лета.</div>
            <div class="news__item-text">
              Самарский областной эксперт посчитал количество своих официальных подписчиков. Их оказалось ровно 38.
              Среди них четверо ждут фестиваль Рок над Волгой. А это около 10%. И если посчитать 10% от жителей планеты,
              то получится рекордные 700 миллионов человек.
            </div>
            <time datetime="2020-07-23" class="news__date">23 июня 2020</time>
          </div>

          <div class="news__item">
            <div class="news__item-title">Йэн Гиллан расроен тем, что фестиваль пройдет без него.</div>
            <div class="news__item-text">
              Знаменитый музыкант лично высказал свое фи в социальных сетях фестиваля. Его речь изобиловала словами на
              F. Мы были рады получить весточку от любимого нами музыканта, хоть и такую.
            </div>
            <time datetime="2020-07-23" class="news__date">21 августа 2020</time>
          </div>
        </div>

        <div class="news__socials news__socials--hidden-lg socials socials--horizontal socials--has-text">
          <div class="socials__text">
            Хочется больше
            и&nbsp;чаще? &mdash;
          </div>
          <div
            class="socials__container">
            <a href="#" class="socials__link" title="Vkontakte">
              <svg class="socials__icon" width="33" height="21">
                <use xlink:href="#icon-vk"></use>
              </svg>
            </a>
            <a href="#" class="socials__link" title="Facebook">
              <svg class="socials__icon" width="15" height="27">
                <use xlink:href="#icon-fb"></use>
              </svg>
            </a>
            <a href="#" class="socials__link" title="Youtube">
              <svg class="socials__icon" width="33" height="27">
                <use xlink:href="#icon-youtube"></use>
              </svg>
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <div class="short-history">
    <img
      class="short-history__img"
      src="{{ asset('build/assets/images/short_history.jpg') }}"
      alt="Рок над Волгой: история">
    <div class="short-history__inner">
      <div class="short-history__top-block">
        <div class="short-history__description">
          В 2013 году, последний перед пятилетним перерывом фестиваль посетило
        </div>
        <div class="short-history__viewers">
          <div class="short-history__number">692 000</div>
          зрителей
        </div>
      </div>

      <div class="short-history__bottom-block">
        <a href="" class="short-history__icon-wrap">
          <svg class="short-history__icon">
            <use xlink:href="#icon-punk"></use>
          </svg>
        </a>
        <a href="#" class="short-history__link">
          <div class="short-history__link-text">Это уже</div>
          <div class="short-history__link-text short-history__link-text--large">история</div>
        </a>
      </div>
    </div>
  </div>
{% endblock %}

{% block javascript %}
  {{ parent() }}
  {{ encore_entry_script_tags('index') }}
{% endblock %}
