<section class="news">
  <div class="news__inner">
    <div class="news__column-left">
      <h2 class="news__title">
        {{ 'text.lightning'|trans({}, 'site') }}
        <svg class="news__title-icon">
          <use xlink:href="#icon-lightning"></use>
        </svg>
      </h2>
      <div class="news__socials news__socials--hidden-md socials socials--horizontal socials--has-text">
        <div class="socials__text">
          {{ 'text.want_more'|trans({}, 'site')|raw }}
        </div>
        <div
          class="socials__container">
          <a href="{{ getSiteSettingByKey('vk') is not null ? getSiteSettingByKey('vk') : '#' }}" class="socials__link" title="Vkontakte">
            <svg class="socials__icon" width="33" height="21">
              <use xlink:href="#icon-vk"></use>
            </svg>
          </a>
          <a href="{{ getSiteSettingByKey('facebook') is not null ? getSiteSettingByKey('facebook') : '#' }}" class="socials__link" title="Facebook">
            <svg class="socials__icon" width="15" height="27">
              <use xlink:href="#icon-fb"></use>
            </svg>
          </a>
          <a href="{{ getSiteSettingByKey('youtube') is not null ? getSiteSettingByKey('youtube') : '#' }}" class="socials__link" title="Youtube">
            <svg class="socials__icon" width="33" height="27">
              <use xlink:href="#icon-youtube"></use>
            </svg>
          </a>
        </div>
      </div>
    </div>

    {% if news|length > 0 %}
      <div class="news__column-right">
        <div class="news__items">
          {% for item in news %}
            <div class="news__item">
              <div class="news__item-title">{{ item.title }}</div>
              <div class="news__item-text">{{ item.description }}</div>
              <time datetime="{{ item.createdAt|date('Y-m-d') }}" class="news__date">{{ item.createdAt|localizeddate('short', 'medium', app.request.locale, null, 'd MMMM y') }}</time>
            </div>
          {% endfor %}
        </div>

        <div class="news__socials news__socials--hidden-lg socials socials--horizontal socials--has-text">
          <div class="socials__text">
            {{ 'text.want_more'|trans({}, 'site')|raw }}
          </div>
          <div
            class="socials__container">
            <a href="{{ getSiteSettingByKey('vk') is not null ? getSiteSettingByKey('vk') : '#' }}" class="socials__link" title="Vkontakte">
              <svg class="socials__icon" width="33" height="21">
                <use xlink:href="#icon-vk"></use>
              </svg>
            </a>
            <a href="{{ getSiteSettingByKey('facebook') is not null ? getSiteSettingByKey('facebook') : '#' }}" class="socials__link" title="Facebook">
              <svg class="socials__icon" width="15" height="27">
                <use xlink:href="#icon-fb"></use>
              </svg>
            </a>
            <a href="{{ getSiteSettingByKey('youtube') is not null ? getSiteSettingByKey('youtube') : '#' }}" class="socials__link" title="Youtube">
              <svg class="socials__icon" width="33" height="27">
                <use xlink:href="#icon-youtube"></use>
              </svg>
            </a>
          </div>
        </div>
      </div>
    {% endif %}
  </div>
</section>