<footer class="page-footer">
  <div class="page-footer__top partners">
    <div class="partners__inner">
      <h2 class="partners__title">
        <div class="partners__title-part">Спасибо</div>
        всем
      </h2>
      <div class="partners__items">
        <div class="partners__row">
          <a href="javascript:void(0);" class="partners__logo partners__logo--large">
            <img
              src="{{ asset('build/assets/images/logo_01.svg') }}"
              alt="logo"
              class="partners__logo-img">
          </a>
          <a href="javascript:void(0);" class="partners__logo partners__logo--large">
            <img
              src="{{ asset('build/assets/images/logo_02.svg') }}"
              alt="logo"
              class="partners__logo-img">
          </a>
        </div>
        <div class="partners__row">
          <a href="javascript:void(0);" class="partners__logo">
            <img
              src="{{ asset('build/assets/images/logo_03.svg') }}"
              alt="logo"
              class="partners__logo-img">
          </a>
          <a href="javascript:void(0);" class="partners__logo">
            <img
              src="{{ asset('build/assets/images/logo_04.svg') }}"
              alt="logo"
              class="partners__logo-img">
          </a>
          <a href="javascript:void(0);" class="partners__logo">
            <img
              src="{{ asset('build/assets/images/logo_05.svg') }}"
              alt="logo"
              class="partners__logo-img">
          </a>
          <a href="javascript:void(0);" class="partners__logo">
            <img
              src="{{ asset('build/assets/images/logo_06.svg') }}"
              alt="logo"
              class="partners__logo-img">
          </a>
        </div>
      </div>
    </div>
  </div>

  <div class="page-footer__bottom">
    <div class="page-footer__container">
      <div class="page-footer__content">
        <div class="page-footer__content-top">
          <div class="page-footer__nav footer-nav">
            <div class="footer-nav__block">
              <h3 class="footer-nav__block-title">Партнерам</h3>
              <ul class="footer-nav__list">
                <li class="footer-nav__item">
                  <a href="#" class="footer-nav__link">
                    История фестиваля
                  </a>
                </li>
                <li class="footer-nav__item">
                  <a href="#" class="footer-nav__link">
                    Пресс-кит
                  </a>
                </li>
                <li class="footer-nav__item">
                  <a href="#" class="footer-nav__link">
                    Аккредитация
                  </a>
                </li>
                <li class="footer-nav__item">
                  <a href="#" class="footer-nav__link">
                    Стать партнером
                  </a>
                </li>
              </ul>
            </div>
            <div class="footer-nav__block">
              <h3 class="footer-nav__block-title">Зрителям</h3>
              <ul class="footer-nav__list">
                <li class="footer-nav__item">
                  <a href="#" class="footer-nav__link">Правила посещения</a>
                </li>
                <li class="footer-nav__item">
                  <a href="#" class="footer-nav__link">Частые вопросы</a>
                </li>
                <li class="footer-nav__item">
                  <a href="#" class="footer-nav__link">Правила использования персональных даных</a>
                </li>
              </ul>
            </div>
          </div>
          <div class="page-footer__contacts">
            {# or a on inner pages #}
            <div class="page-footer__logo">
              <img
                src="{{ asset('build/assets/images/logo.svg') }}"
                alt="Рок над волгой: логотип"
                class="page-footer__logo-img">
            </div>
            <div class="page-footer__contacts-inner">
              <div class="page-footer__socials socials socials--horizontal">
                <a href="#" class="socials__link" title="Vkontakte">
                  <svg class="socials__icon" width="33" height="21">
                    <use xlink:href="#icon-vk"></use>
                  </svg>
                </a>
                <a href="#" class="socials__link" title="Facebook">
                  <svg class="socials__icon" width="15" height="27">
                    <use xlink:href="#icon-fb"></use>
                  </svg>
                </a>
                <a href="#" class="socials__link" title="Youtube">
                  <svg class="socials__icon" width="33" height="27">
                    <use xlink:href="#icon-youtube"></use>
                  </svg>
                </a>
              </div>
              <div class="organizer">
                <div class="organizer__text">Организатор</div>
                <img
                  src="{{ asset('build/assets/images/organizer_logo.svg') }}"
                  alt="Logo"
                  class="organizer__logo">
              </div>
            </div>
          </div>
        </div>
        <div class="page-footer__content-bottom">
          <div class="page-footer__copyright">
            &copy; 2009 &mdash; 2020 Рок над Волгой
          </div>
          <div class="page-footer__dev">
            <span class="page-footer__dev-text">Маде ин</span>
            <img
              src="{{ asset('build/assets/images/logo_03.svg') }}"
              alt="Logo"
              class="page-footer__dev-logo">
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>